h1{ 
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 22px;
    padding: 20px;   
}

@media (min-width:425px){
    h1 {
        font-size: 30px;  
    }
}

@media (min-width:768px){
    h1 {
        font-size: 40px;  
    }
}