.navbar{
    background-color: rgb(186, 234, 247);
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    font-size: 20px;
    padding: 5px 5%; 
} 
.navbar span{
    font-size: 20px;
}

#logoEmpresa{
    height: 40px;
}

.dropdown-menu {
    background-color: rgb(206, 237, 246); 
}

.nav-link:hover{
    animation: salto 1.5s infinite;
}

@keyframes salto {
    0% {
        transform: translate(0);
    }
    15% {
        transform: translate(0 , -5px);
    }
    30% {
        transform: translate(0);
    }
    50% {
        transform: translate(0 , -10px);
    }
    100% {
        transform: translate(0px);
    }
}

@media (min-width:375px){
    #logoEmpresa{
        height: 50px;
    }
}

